{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      }
    }]
  ],
  "env": {
    "production": {
      "presets": ["babili"]
    }
  },
  "plugins": [
    "transform-flow-strip-types",
    "transform-runtime",
    "transform-async-to-generator",
    "transform-object-rest-spread"
  ]
}