{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      }
    }]
  ],
  "env": {
    "production": {
      "presets": ["babili"]
    }
  },
  "plugins": [
    "transform-flow-strip-types"
  ]
}