{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": [
    "flowtype"
  ],
  rules: {
    "arrow-parens": [2, "always"],
    "no-console": [0],
    "import/no-extraneous-dependencies": [0]
  }
}